head 
    title Home Page  

    div 
        a(href='http://localhost:3000/') Home Page 
    div 
        a(href='http://localhost:3000/restaurants') Restaurants
    div 
        a(href='http://localhost:3000/addrestaurant') Add a Restaurant
    